*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
header{
background-color: blue;
border-radius: 50px;
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
justify-content: space-around;

}
.ademar{
width: 89%;



}
body{
background-color: blueviolet;


}
.kim dom one {
 background: color height 130px; ;   
}