* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d6dadb;
}

.navbar {
    background-color: #2a2d58;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-radius: 50px;
    margin-top: 20px;
    width: 95%;
    margin-left: 45px;
    display: flex;
   
   
}

.navbar .logo {
    display: flex;
    align-items: center;
    color: #fff;
}

.navbar .logo img {
    height: 40px;
    margin-right: 10px;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar nav ul li {
    color: #fff;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.categories {
    padding: 50px;
    text-align: center;
    background-color: #d6dadb;
}

.categories h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.categories .buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.categories button {
    padding: 10px 20px;
    border: 2px solid #d6dadb;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.categories button.active {
    background-color: white;
    color: black;
}

.courses {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.course-card {
    background-color: #fff;
    border-radius: 10px;
    width: 250px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.course-card img {
    width: 100%;
    border-radius: 10px;
}

.course-card h3 {
    margin: 15px 0;
    font-size: 18px;
}

.register-btn {
    background-color: #00b33c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.course-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.course-info p {
    font-size: 14px;
    color: #666;
}
hr{
margin-left: 75px;
background-color: rgb(0, 8, 122);
height: 5px;
width: 93%;
}
.t1{
padding-left: 50px;

}